/* This file contains the stylesheet for the login html page.  */
html{
  width: 100%;
  height: 100%;
}

body{
  background-color: white;
  background-size: cover;
  /* top: -50px; */
}
div{
  align-items: center;
}

#login {
  margin: 2rem;
  width: 10rem;
}

#login-title{
  /*    background:rgba(114, 114, 114, .65);*/
  background: #386F9A;
  height: 11rem;
  text-align: center;
  margin-bottom: 2rem;
}

#logintext{
  /* margin-left: 0.3rem;
  font-size: 1.75rem; */
  color: black;
  padding-top: 20px;
  padding-bottom: 30px;
  font-weight:640;
  font-size: 40px;
  letter-spacing: 5px;
}

.input-group .form-control{
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  border-radius: 0px;
  align-content: center;
  box-shadow: none;
}

.form-control{
  border: none;
  border-radius: 0px;
}

.img-responsive{
  height: auto;
  width: 100%;
}

.btn-primary{
  /* background-color: black; */
  font: white;
  border: none;
}

a {
  color: gray;
  /* text-decoration: underline; */
}

#userLogin{
  display: flex;
  text-align: center;
  display: table;
}


input{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20rem;

}
